/* Global styles */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif !important;
}

header {
    height: 70vh;
    width: 100%;
    background: url(../doggoimgs/857805_doghouse_512x512.jpg);
    background-size: 40vh;
    background-position: bottom 40% center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    filter: contrast(1.2);
}