/* Global styles */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif !important;
}

header {
    height: 100vh;
    background: url(../doggoimgs/simple-cute-dog-black-logo-icon-design-vector.jpg);
    background-size: 40vh;
    background-position: bottom 30% center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}